<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/img/logo.png" %}">

    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/templatemo.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/shops.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/store.css" %}">
    <script defer src="{% static 'assets/js/store.js' %}"></script>
    <script defer src="{% static 'assets/js/header.js' %}"></script>
    <script>
        window.onload = function(event) {

            fetch('http://127.0.0.1:8000/accounts/github/login/', {
                method: 'get',
              }).then(function (result) {
                return result.json()
              }).then(function (data) {
                console.log(data)
              })

              
        }
    </script>

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static "assets/css/fontawesome.min.css" %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<!--
    
TemplateMo 559 Zay Loja

https://templatemo.com/tm-559-zay-shop

-->
</head>