.user-info{
    width: 100%;
    white-space: nowrap;
    margin-left: 800px;
    padding: 5px;
}

.user-info a{
    text-decoration: none;
}

#templatemo_main_nav a:hover {
    color: #ff668c;
}

.bi{
    align-items: center;
    margin-bottom: 5px;
}

.cart{
    margin-left: 12px;
}

#template-mo-zay-hero-carousel {
    background: #fff !important;
    margin-top: 50px;
}

section{
    display: block;
    box-sizing: inherit;
}

.products-section-title{
    text-align: center;
    margin-bottom: 1.5rem;

}

.featured-products .product-miniature {
    margin: 0 auto;
    max-width: 50%;
    box-shadow: none !important;
}

.p-5 {
    padding: 3rem!important;
}

@media (max-width: 1199px){
.carousel .carousel-inner {
    height: auto;
}
}

.carousel .carousel-inner {
    height: 340px;
}

.products{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}

.card{
    padding-top: 15px;
    padding-left: 80px;
    align-items: center;
    justify-content: center;
    
}

.card-store{
    width: 245px;
    height: 245px;
    align-items: center;
}

.page-customer-account #content {
    box-shadow: none !important;
}

#main .page-content, #main .page-header {
    margin-bottom: 1.563rem;
}

.page-authentication #content {
    padding: 1rem;
    max-width: 640px;
    margin: 0 auto;
}

#login-cliente{
    display: none;
}

#loginForm{
    display: inline;
}

#logout{
    margin-left: 7px;
}


