{% include 'templates/partials/head.html' %}
<title>Segmento</title>

<body>
    {% include 'templates/partials/header.html' %}

    <div class="main-container section-padding">
        <div class="container">
            <div class="row-01">
                <div class="col-lg-12 col-md-12 col-xs-12 page-content">
                    <div class="tab-content">
                        <div id="grid-view" class="tab-pane fade active show">
                            <div class="row-02">
                                {% if stores %}
                                {% for item in stores %}
                                <div class="coluna-card col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="{{item.logo.url }}" alt="Card image cap">
                                        <div class="tg-product"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{item.corporate_name}}</h5>
                                            <p class="card-text">
                                                Segmento: {{item.segment}}
                                                <br>
                                                Contato: {{item.contact}}
                                            </p>
                                            <div class="tg-product"></div>
                                            <a href="/store/{{item.id}}" class="btn btn-danger">Visitar</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <h2 style="padding: 50px 0 100px 0;">Ainda não há lojas nesse segmento.</h2>
                                {% endif %}
                            </div>
                            <div class="pagination row col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                                <span class="step-links">
                                    {% if stores.has_previous %}
                                    <h5><a href="?page={{ stores.previous_page_number }}">Anterior</a></h5>
                                    {% endif %}

                                    <span class="current">
                                        <h5>{{ stores.number }} de {{ stores.paginator.num_pages }}</h5>
                                    </span>

                                    {% if stores.has_next %}
                                    <h5><a href="?page={{ stores.next_page_number }}">Próxima</a></h5>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% comment %} <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://via.placeholder.com/1024x500/269feb" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://via.placeholder.com/1024x500/269feb" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> {% endcomment %}


    {% include 'templates/partials/footer.html' %}
</body>

</html>