{% extends 'base.html' %}
{%load static %}
{% block title %} Cadastrar {% endblock title %}

{% block content %}

<!-- Pills navs -->
<section class="bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="shadow" style="background-color: #fff;">
                <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link btn btn-block  mb-4 active" id="tab-register-c" data-bs-toggle="pill"
                            data-bs-target="#pills-register-c" role="tab" aria-controls="pills-register-c"
                            aria-selected="true">Cadastrar como cliente</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link btn btn-block mb-4 " id="tab-register-l" data-bs-toggle="pill"
                            data-bs-target="#pills-register-l" role="tab" aria-controls="pills-register-l"
                            aria-selected="false">Cadastrar como Loja</button>
                    </li>
                </ul>
                <!-- Pills navs -->

                <!-- Pills content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-register-c" role="tabpanel"
                        aria-labelledby="tab-register-c">
                        <form method="post">
                            <div class="text-center mb-3">
                                <p>Cadastrar com:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>

                            <p class="text-center">ou:</p>

                            {{ form_client }}

                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                        <input class="form-check-input" type="checkbox" value="" id="registerCheck-c"
                                            checked />
                                        <label class="form-check-label" for="registerCheck-c"> Lembre de mim </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#!">Esqueceu sua senha?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Não tem uma conta? <a href="#">Registre-se</a></p>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-register-l" role="tabpanel" aria-labelledby="tab-register-l">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="text-center mb-3">
                                <p>Cadastrar com:</p>
                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>

                            <p class="text-center">or:</p>
                                <label>CNPJ</label>
                                {{ form_store.cnpj }}
                                <label>Nome</label>
                                {{ form_store.corporate_name }}
                                <label>E-mail</label>
                                {{ form_store.email }}
                                <label>Contato</label>
                                {{ form_store.contact }}
                                <label>Segmento</label>
                                {{ form_store.segment }}
                                <label>Logo</label>
                                {{ form_store.logo }}

                            <!-- 2 column grid layout -->
                            <div class="row mb-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Checkbox -->
                                    <div class="form-check mb-3 mb-md-0">
                                        <input class="form-check-input" type="checkbox" value="" id="registerCheck-l"
                                            checked />
                                        <label class="form-check-label" for="registerCheck-l"> Lembre de mim </label>
                                    </div>
                                </div>

                                <div class="col-md-6 d-flex justify-content-center">
                                    <!-- Simple link -->
                                    <a href="#!">Esqueceu sua senha?</a>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Cadastrar</button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p>Não tem uma loja? <a href="#">Registre uma</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pills content -->

{% endblock content %}