{% include 'templates/partials/head.html' %}
{% load static %}


<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
            <image class="img-fluid" src="https://app.vitrinedigital.net/artenoporco/modules/ps_imageslider/images/92372596dd6c70ad8163ebcd4b1f97de54b4b433_banner.png" style="width: 150px; height: 50px;">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            
            <div class="navbar align-self-center d-flex">
                {% if user.is_authenticated == True %}
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                    </a>
                {% endif %}
                {% if user.is_authenticated == False %}
                   <div class="user-info">
                       <a href="/login" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                            </svg>
                            Entrar
                        </a>

                        <a href="#" class="cart">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                              </svg>
                            <span>Carrinho</span>
                            <span>(3)</span>
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>

    </div>
</nav>

<div id="content-wrapper">
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="https://app.vitrinedigital.net/artenoporco/modules/ps_imageslider/images/92372596dd6c70ad8163ebcd4b1f97de54b4b433_banner.png" style="width: 690px; height: 211px;" alt="">
                        </div>
                        {% comment %} <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-danger"><b>Vitrine digital</b></h1>
                                <h3 class="h2">O lugar perfeito para você crescer</h3>
                                <p>
                                    Cresça sua marca de forma facil e simples com nosso sistema, além de ter uma página exclusiva para seu negocio.
                                </p>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Cliente</h1>
                                <h3 class="h2">Ache tudo mais facilmente</h3>
                                <p>
                                    Com nosso sistema você poderá achar o que precisa muito mais facil com nosso agrupamento de lojas por categoria.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_03.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Marca</h1>
                                <h3 class="h2">Venda seus produtos de forma online</h3>
                                <p>
                                    Além de divulgar com facilidade, você tambem terá suporte a vendas online em um mesmo sistema.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
</div>

<section class="featured-produts">
    <h2 class="h2 products-section-title text-uppercase">Produtos em destaque</h2>
    <div class="products">
        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto...
                <br>
                R$ 45,00
              </p>
            </div>
        </div> 

        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto... 
                <br>
                R$ 45,00
              </p>
            </div>
        </div> 

        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto... 
                <br>
                R$ 45,00
              </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto... 
                <br>
                R$ 45,00
              </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto... 
                <br>
                R$ 45,00
              </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-store" src="https://app.vitrinedigital.net/deliciasdomilho/modules/ps_imageslider/images/17c1990eb4f2a0d005dbbfc6309eddeced4dd6bd_BANNER.png" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                Produto... 
                <br>
                R$ 45,00
              </p>
            </div>
        </div>
    </div>
</section>


{% include 'templates/partials/footer.html' %}
