{% include 'partials/head.html' %}
<title>{% block title %} {% endblock %}</title>
{% load static %}
<body>
    <!-- Start Top Nav -->
    {% include 'partials/top_nav.html' %}
    <!-- Close Top Nav -->


    <!-- Header -->
    {% include 'partials/header.html' %}
    
    <!-- Close Header -->
    {% block content %}

    {% endblock %}

<!-- Start Footer -->
{% include 'partials/footer.html' %}
<!-- End Footer -->

<!-- Start Script -->
<script src="{% static "assets/js/jquery-1.11.0.min.js" %}"></script>
<script src="{% static "assets/js/jquery-migrate-1.2.1.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "assets/js/templatemo.js" %}"></script>
<script src="{% static "assets/js/custom.js" %}"></script>
<!-- End Script -->
</body>

</html>